<div class="container">

    <app-heading-card>
        <div card-title>
            <button mat-button>
                <mat-icon>people</mat-icon>
                Students
            </button>
        </div>
        <div card-subtitle></div>
        <div card-content>
            <!-- <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>First name</th>
                        <th>Last name</th>
                        <th>Code </th>
                        <th>Program ID</th>
                    </tr>
                </thead>
                <tbody>
                    @for (student of students; track $index) {
                        <tr>
                            <td>{{student.id}}</td>
                            <td>{{student.firstName}}</td>
                            <td>{{student.lastName}}</td>
                            <td>{{student.code}}</td>
                            <td>{{student.programId}}</td>
                        </tr>
                    }
                </tbody>
            </table> -->
          
            <table matSort mat-table [dataSource]="dataSource" class="mat-elevation-z1">

                <!-- <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef  mat-sort-header> ID </th>
                    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                </ng-container> -->
                

                <ng-container matColumnDef="firstName">
                    <th mat-header-cell *matHeaderCellDef  mat-sort-header> Prénom </th>
                    <td mat-cell *matCellDef="let element"> 
                        <a routerLink="/admin/student-details/{{element.code}}">
                            {{element.firstName}}
                        </a>
                    </td>
                </ng-container>

                <!-- <ng-container matColumnDef="photo">
                    <th mat-header-cell *matHeaderCellDef  mat-sort-header> Photo </th>
                    <td mat-cell *matCellDef="let element"> {{element.photo}} </td>
                </ng-container> -->

                <ng-container matColumnDef="programId">
                    <th mat-header-cell *matHeaderCellDef  mat-sort-header> Programme </th>
                    <td mat-cell *matCellDef="let element"> {{element.programId}} </td>
                </ng-container>

                <ng-container matColumnDef="payments">
                    <th mat-header-cell *matHeaderCellDef  mat-sort-header> Payments </th>
                    <td mat-cell *matCellDef="let element"> 
                        <button (click)="studentPayments(element)" mat-button>{{element.firstName}}'s Payments</button> 
                    </td>
                </ng-container>
                

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator 
                [pageSizeOptions]="[5, 10, 20]"
                showFirstLastButtons
                aria-label="Liste des paiements">
            </mat-paginator>
        </div>
    </app-heading-card>
      
</div>