mat-toolbar{
    background: #4b59ef;
}
mat-toolbar *{
    color: white;
}
.mdc-button.mdc-button--raised.mat-mdc-raised-button.mat-accent.mat-mdc-button-base{

    background-color: #E71A59;
    color: white;
}
.mat-drawer{
    width: auto;
    max-width: 250px;
}
mat-drawer-content{
    background: #f3f3f3;
}
